.card {
    height: 100px;
    padding: 20px;
    border: 2px solid cadetblue;
    box-sizing: border-box;
}

.card__title {
    font-weight: bold;
    display: block;
}

.card__description {
    display: block;
    color: darkslateblue;
}

.section-list__header {
    color: navy;
}

.section-list [data-element="section-data"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}